body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(1, 2, 2, 0.945);
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}


label {
  display: inline-block;
  width: 100px;
}

input[type=number] {
  width: 50px;
}

.pass{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

button {
  padding: 5px 10px;
  font-size: large;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #3e8e41;
}

button:active{
  transform: scale(0.90);
}

#passGen {
  background-color: #0baf9c;
  width: 210px;
  height: 60px;

}

#password {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
button.copied {
  background-color: #3b3b39;
}



#password div {
  display: flex;
  align-items: center;
}

#password button {
  margin-left: 10px;
}
#sebamamalego{
  background-color: #3b94aa;
}
#sebamamalego.copied{
  background-color: #3b3b39;
}


#janekmamalego{
  background-color: #9dca22;
}

#janekmamalego.copied{
  background-color: #3b3b39;
}
.switch {
	height: 30px;
	width: 80px;
	background-color: white;
	border-radius: 30px;
	position: relative;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
  margin-bottom: 15px;
  }
  
  .switch .toggle {
	background: white url('https://i.ibb.co/FxzBYR9/night.png');
	height: 45px;
	width: 45px;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: .2s linear all;
  }
  
  .switch.light {
	background-color: #303030;
  }
  
  .switch.light .toggle {
	background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
	left: calc(100% - 40px);
  }
