body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}


label {
    display: inline-block;
    width: 100px;
}

input[type=number] {
    width: 50px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #3e8e41;
}

#password {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
button.copied {
    background-color: red;
}

#password div {
    display: flex;
    align-items: center;
}

#password button {
    margin-left: 10px;
}
