body{
    text-align: center;
}
h2{
    font-size: 70px;
    margin-top: 15%;
}
#searchContainer {
    text-align: center;
  }
  
  #searchTitle {
    margin-bottom: 20px;
  }
  
  #searchInput {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    height: 40px;
  }
  
  #results {
    text-align: left;
    font-size: 20px;
width: 50%;
margin: auto;
  }

  button {
    padding: 5px 10px;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active{
    transform: scale(0.90);
  }

  button.copied{
    background-color: grey;
  }
